.bvcoe-sc-logo-white-icon3 {
  height: 116px;
  width: 125px;
  position: relative;
  object-fit: cover;
}
.about1,
.home2 {
  height: 26px;
  position: relative;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.about1 {
  width: 105px;
  flex-shrink: 0;
}
.events2 {
  width: 137px;
  flex-shrink: 0;
}
.contact-us2,
.events2,
.winners2 {
  height: 26px;
  position: relative;
  line-height: 100%;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.winners2 {
  width: 120px;
  flex-shrink: 0;
}
.contact-us2 {
  white-space: nowrap;
}
.menu-bar,
.menu-bar-wrapper {
  display: flex;
  align-items: flex-start;
}
.menu-bar {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  cursor: pointer;
}
.menu-bar-wrapper {
  width: 793px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
  max-width: 100%;
}
.bvcoe-sc-logo-white-parent {
  width: 1302px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: right;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.contact-us3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 50.96px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
}
.contact-us-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 58px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-icon1 {
  height: 84.6px;
  width: 84.6px;
  position: absolute;
  margin: 0 !important;
  bottom: 133.4px;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
}
.bvcoe-sc-logo-white-icon4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.bvcoe-sc-logo-white-container {
  height: 522px;
  width: 266px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1px var(--padding-17xl) 0;
  box-sizing: border-box;
}
.feel-the-pulse {
  margin: 0;
  width: 788px;
  position: relative;
  font-size: inherit;
  line-height: 38.6px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.address,
.blank-line,
.email,
.for-any-suggestionsqueries {
  margin: 0;
}
.for-any-suggestionsqueries-container {
  margin: 0;
  height: 193px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 38.6px;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
  font-family: inherit;
}
.a-4-paschim-vihar,
.bvcoescgmailcom,
.in-front-of {
  margin: 0;
}
.bvcoescgmailcom-a-4-paschim-container {
  margin: 0 !important;
  height: 115px;
  width: 648px;
  position: absolute;
  right: 30.5px;
  bottom: -38px;
  font-size: inherit;
  line-height: 38.6px;
  font-weight: 400;
  font-family: inherit;
  text-align: right;
  display: inline-block;
  z-index: 3;
}
.for-any-suggestionsqueries-pl-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.feel-the-pulse-of-athleticism-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: calc(100% - 393px);
}
.frame-parent3,
.frame-wrapper1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent3 {
  flex: 1;
  align-items: flex-end;
  gap: 127px;
}
.frame-wrapper1 {
  width: 1242px;
  align-items: flex-start;
  padding: 0 16px;
  box-sizing: border-box;
}
.frame-item {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.line-wrapper {
  height: 3px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 3px;
  box-sizing: border-box;
  min-width: 780px;
  max-width: 100%;
}
.frame-icon2 {
  height: 84.6px;
  width: 84.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent2,
.frame-parent4 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  row-gap: 20px;
}
.frame-parent2 {
  width: 1285px;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  max-width: 100%;
}
.logo-frame-icon {
  height: 84.6px;
  width: 84.6px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bvcoe-sc-logo-white-icon5 {
  width: 106px;
  height: 101.1px;
  position: relative;
  object-fit: cover;
}
.bvcoe-sc-logo-white-frame {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-8xl);
}
.bvcoe-sc-logo-white-frame,
.frame-wrapper3,
.logo-frame-parent {
  display: flex;
  justify-content: flex-start;
}
.logo-frame-parent {
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-4xl);
}
.frame-wrapper3 {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-sm);
}
.about-the-council2,
.events3,
.home3,
.winners3 {
  position: relative;
  line-height: 20px;
}
.arcticonstwitter1 {
  height: 28px;
  width: 28px;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left: 81px;
  overflow: hidden;
  flex-shrink: 0;
}
.contact-us4 {
  position: relative;
  line-height: 20px;
}
.arcticonsfacebook1,
.arcticonsinstagram1 {
  height: 26px;
  width: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 26px;
}
.email-text,
.instagram-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.instagram-icon {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-36xl);
}
.winners-text {
  width: 217px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.home-about-council,
.winners-text {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-51xl);
}
.frame-parent5,
.frame-wrapper2,
.home-about-council {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent5 {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper2 {
  width: 1296px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 28px;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frame-div {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-15xl);
  max-width: 100%;
  font-size: var(--font-size-11xl);
}
.contact-page,
.contact-page-inner,
.frame-div,
.frame-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-section {
  flex: 1;
  flex-direction: column;
  gap: 3px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
.contact-page,
.contact-page-inner {
  box-sizing: border-box;
}
.contact-page-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.contact-page {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  flex-direction: column;
  padding: 0 var(--padding-6xl) var(--padding-xl);
  gap: var(--gap-119xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-parent3 {
    gap: 63px;
  }
}
@media screen and (max-width: 1050px) {
  .menu-bar {
    display: none;
  }
  .menu-bar-wrapper {
    width: 0;
  }
  .contact-us3 {
    font-size: var(--font-size-10xl);
    line-height: 41px;
  }
  .bvcoe-sc-logo-white-container {
    display: none;
  }
  .bvcoescgmailcom-a-4-paschim-container,
  .feel-the-pulse,
  .for-any-suggestionsqueries-container {
    font-size: var(--font-size-5xl);
    line-height: 31px;
  }
  .feel-the-pulse-of-athleticism-parent {
    max-width: 100%;
  }
  .line-wrapper {
    min-width: 100%;
  }
  .frame-parent5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame-parent3 {
    gap: var(--gap-13xl);
  }
  .home-about-council {
    flex-wrap: wrap;
    gap: var(--gap-16xl);
  }
  .frame-div {
    gap: var(--gap-mid);
  }
  .contact-page {
    gap: var(--gap-50xl);
  }
}
@media screen and (max-width: 450px) {
  .contact-us3 {
    font-size: var(--font-size-3xl);
    line-height: 31px;
  }
  .contact-us-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .bvcoescgmailcom-a-4-paschim-container,
  .feel-the-pulse,
  .for-any-suggestionsqueries-container {
    font-size: var(--font-size-lg);
    line-height: 23px;
  }
  .frame-parent3 {
    gap: var(--gap-base);
  }
  .home-about-council {
    gap: var(--gap-mid);
  }
  .contact-page {
    gap: var(--gap-15xl);
  }
}
