.bvcoe-sc-logo-white-icon6 {
    height: 116px;
    width: 125px;
    position: relative;
    object-fit: cover;
}

.about2,
.home4 {
    height: 26px;
    position: relative;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
}

.about2 {
    width: 105px;
    flex-shrink: 0;
}

.events4 {
    width: 137px;
    flex-shrink: 0;
}

.contact-us5,
.events4,
.winners4 {
    height: 26px;
    position: relative;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
}

.winners4 {
    width: 120px;
    flex-shrink: 0;
}

.contact-us5 {
    white-space: nowrap;
}

.home-about-frame,
.menu-bar1 {
    display: flex;
    align-items: flex-start;
}

.menu-bar1 a {
    text-decoration: none;
    color: white;
}

.menu-bar1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    cursor: pointer;
}

.home-about-frame {
    width: 793px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-sm);
    box-sizing: border-box;
    max-width: 100%;
}

.frame-header-logo,
.frame-parent6 {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.frame-header-logo {
    width: 1302px;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.frame-parent6 {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-6xl);
    box-sizing: border-box;
    text-align: right;
    font-size: var(--font-size-xl);
    color: var(--color-gray-100);
    font-family: var(--font-inter);
}

.each-year-our,
.our-winners {
    margin: 0;
    position: relative;
    font-weight: 400;
    font-family: inherit;
}

.our-winners {
    font-size: inherit;
    line-height: 50.96px;
    text-transform: uppercase;
}

.each-year-our {
    width: 788px;
    font-size: var(--font-size-11xl);
    line-height: 38.6px;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
}

.our-winners-yearly-achievement {
    width: 1183px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    gap: var(--gap-xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--color-gray-100);
    font-family: var(--font-inter);
}

.home-about-the-council-frame {
    width: 84.6px;
    height: 84.6px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.logo-frame1 {
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.image-12-icon {
    height: 2176.5px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    min-width: 774px;
}

.home-link-frame,
.line-separator {
    box-sizing: border-box;
    max-width: 100%;
}

.line-separator {
    width: 1319px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    gap: var(--gap-4xl);
}

.home-link-frame {
    width: 1201px;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-gray-100);
}

.image-container-icon {
    width: 84.6px;
    height: 84.6px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.events-winners-contact-us-fram {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 44px 0 0;
}

.bvcoe-sc-logo-white-icon7 {
    width: 106px;
    height: 101.1px;
    position: relative;
    object-fit: cover;
}

.white-b-v-c-o-e-s-clogo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 302px;
    max-width: 100%;
}

.about-the-council3,
.home5 {
    position: relative;
    line-height: 20px;
}

.instagram-link-text {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.arcticonstwitter2 {
    height: 28px;
    width: 28px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 28px;
}

.arcticonsfacebook2,
.arcticonsinstagram2 {
    height: 26px;
    width: 26px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.social-media-logos {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.twitter-link-text {
    width: 198px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xl);
    box-sizing: border-box;
}

.about-the-council-text,
.social-media-links-frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.social-media-links-frame1 {
    width: 255px;
    gap: 53px;
}

.about-the-council-text {
    width: 321px;
    padding: var(--padding-22xl) 0 0;
    box-sizing: border-box;
    max-width: 100%;
}

.contact-us6,
.events5,
.winners5 {
    position: relative;
    line-height: 20px;
}

.contact-us-frame2,
.winners-frame {
    display: flex;
    align-items: flex-start;
}

.contact-us-frame2 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
}

.winners-frame a,
.about-the-council-text a {
    text-decoration: none;
    color: white;
}

.winners-frame {
    width: 338px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-22xl) 0 0;
    box-sizing: border-box;
    max-width: 100%;
}

.contact-us-frame1 {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-9xs);
}

.about-the-council-link-frame,
.contact-us-frame1,
.twitter-frame1 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.about-the-council-link-frame {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 var(--padding-17xl) 0 0;
    box-sizing: border-box;
}

.twitter-frame1 {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-18xl);
}

.footer-frame-icon {
    height: 84.6px;
    width: 84.6px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.facebook-frame1,
.instagram-frame1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.facebook-frame1 {
    flex: 1;
    flex-wrap: wrap;
    gap: var(--gap-13xl);
}

.instagram-frame1 {
    align-self: stretch;
    padding: 0 0 0 var(--padding-12xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
    font-family: var(--font-inter);
}

.frame-for-our-winners,
.our-winners-text,
.winner-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.frame-for-our-winners {
    align-self: stretch;
    align-items: flex-start;
    gap: 49px;
    max-width: 100%;
}

.our-winners-text,
.winner-page {
    align-items: center;
}

.our-winners-text {
    align-self: stretch;
    gap: var(--gap-14xl);
    max-width: 100%;
    flex-shrink: 0;
}

.winner-page {
    width: 100%;
    position: relative;
    background-color: var(--color-gray-200);
    padding: 0 var(--padding-mid) var(--padding-xl) 18px;
    box-sizing: border-box;
    gap: var(--gap-119xl);
    letter-spacing: normal;
}

@media screen and (max-width: 1125px) {
    .contact-us-frame1,
    .our-winners-yearly-achievement {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1025px) {
    .menu-bar1 {
        display: none;
    }
    .home-about-frame {
        width: 0;
    }
    .our-winners {
        font-size: var(--font-size-10xl);
        line-height: 41px;
    }
    .each-year-our {
        font-size: var(--font-size-5xl);
        line-height: 31px;
    }
    .image-12-icon,
    .twitter-frame1 {
        min-width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .twitter-frame1 {
        gap: var(--gap-lg);
    }
    .facebook-frame1 {
        gap: var(--gap-base);
    }
    .frame-for-our-winners {
        gap: var(--gap-5xl);
    }
    .our-winners-text {
        gap: var(--gap-base);
    }
    .winner-page {
        gap: var(--gap-50xl);
    }
}

@media screen and (max-width: 450px) {
    .our-winners {
        font-size: var(--font-size-3xl);
        line-height: 31px;
    }
    .each-year-our {
        font-size: var(--font-size-lg);
        line-height: 23px;
    }
    .social-media-links-frame1 {
        gap: var(--gap-7xl);
    }
    .contact-us-frame2 {
        flex-wrap: wrap;
    }
    .winner-page {
        gap: var(--gap-15xl);
    }
}